html {
  height: 100%;
  width: 100%;
}

.logo {
    width: 200px; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensures the image takes up the full width of its container */
    margin: 0 auto; /* Centers the image horizontally */
}


