html {
  height: 100%;
  width: 100%;
}

av {
    background: #1f1f1f;
    padding: 15px;
    border-bottom: 1px solid #333;
}
nav strong {
    color: #e0e0e0;
}
nav .social-icons {
    display: flex;
    justify-content: center; /* Center the icons */
    align-items: center;
    gap: 15px; 
}
